<div class="row row-centered row-fluid">
    <div class="col-xs-2 col-lg-1" ng-repeat="category in categories">
        <a href="#/category/{{category.id}}" class="thumbnail" uib-tooltip="{{category.name}}">
            <img class="img-responsive" src="images/category/{{category.pictureURL}}" alt="{{category.name}}">
        </a>
    </div>
</div>
<h1>{{category.name}}</h1>
<p>Available <strong>{{category.workedRestaurants}}</strong> of {{category.allRestaurants}}</p>
<div class="row row-centered" ng-repeat="restaurant in category.restaurants1">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-xs-5 col-sm-3">
                <a href="#/restaurant/{{restaurant.id}}" class="thumbnail" data-toggle="tooltip"
                   title="{{restaurant.name}}">
                    <img class="img-responsive" src="images/restaurant/{{restaurant.logo}}" alt="{{restaurant.name}}">
                </a>
            </div>
            <div class="col-xs-7 col-sm-9">
                <h4 style="color:orange;">{{restaurant.name}}</h4>
                <p> Menu: xxxx </p>
                <ul class="list-unstyled">
                    <li>Free delivery starting from: <strong>{{restaurant.deliveryFreeFrom}}</strong></li>
                    <li>Delivery in: <strong>{{restaurant.deliveryTimeMin}} - {{restaurant.deliveryTimeMax}}</strong>
                    </li>
                    <li>
                        Accept Creditcards:
                        <span class="glyphicon glyphicon-ok text-success" ng-if="restaurant.deliveryAcceptCard"></span>
                        <span class="glyphicon glyphicon-remove text-danger"
                              ng-if="!restaurant.deliveryAcceptCard"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-xs-5 visible-xs-block visible-sm-block visible-md-block">

            </div>
            <div class="col-xs-7 col-sm-12">
                <p><span class="glyphicon glyphicon-earphone"></span> <span class="text-lg">{{restaurant.phone}}</span>
                    <br>
                    <a href="#">www.nonono.lv</a> <br>
                    Average rating <span class="rating">{{restaurant.averageRatings}}</span>
                </p>
            </div>

        </div>
    </div>
</div>

